<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
    <a routerLink="/" class="d-flex align-items-center col-md-auto mb-2 mb-md-0 text-dark text-decoration-none">
        <h4>Library</h4>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 link-dark">Books</a></li>
        <li><a routerLink="/readers" class="nav-link px-2 link-dark">Readers</a></li>
    </ul>
    
</header>
