<div class="mt-4">
    <h2>{{reader?.FirstName}} {{reader?.LastName}}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Author</th>
          <th>Title</th>
          <th>Is Borrowed</th>
          <th>Borrowing Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of reader?.BorrowedBooks">
          <td>{{ book.Id }}</td>
          <td>{{ book.Author }}</td>
          <td>{{ book.Title }}</td>
          <td>{{ book.IsBorrowed ? 'Yes' : 'No' }}</td>
          <td>{{ book.BorrowingDate | date:'short' }}</td>
          <td>{{ book.ReturnDate | date:'short' }}</td>
        </tr>
      </tbody>
    </table>
</div>

