<div class="mt-4">
    <h2>{{reader?.firstName}} {{reader?.lastName}}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Author</th>
          <th>Title</th>
          <th>Is Borrowed</th>
          <th>Borrowing Date</th>
          <th>Return Date</th>
          <th style="width: 0; white-space:nowrap;" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of reader?.borrowedBooks">
          <td>{{ book.id }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.isBorrowed ? 'Yes' : 'No' }}</td>
          <td>{{ book.borrowingDate | date:'short' }}</td>
          <td>{{ book.returnDate | date:'short' }}</td>
          <td>
            <div *ngIf="book.isBorrowed" class="btn btn-primary" (click)="returnBook(book.id, reader!.id)">Return</div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div *ngIf="!reader">
  <h2>Reader not found</h2>
 </div>

