<div class="mt-4" *ngIf="book">
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Publication Year:</strong> {{ book.publicationYear }}</p>
    <p><strong>Description:</strong> {{ book.description }}</p>
    <p><strong>Is Borrowed:</strong> {{ book.isBorrowed ? 'Yes' : 'No' }}</p>
    
    <div *ngIf="book.isBorrowed">
      <p><strong>Borrowing Date:</strong> {{ book.borrowingDate | date:'short' }}</p>
      <p><strong>Return Date:</strong> {{ book.returnDate | date:'short' }}</p>
    </div>
  </div>
