<div class="mt-4" *ngIf="book">
    <h2>{{ book.Title }}</h2>
    <p><strong>Author:</strong> {{ book.Author }}</p>
    <p><strong>Publication Year:</strong> {{ book.PublicationYear }}</p>
    <p><strong>Description:</strong> {{ book.Description }}</p>
    <p><strong>Is Borrowed:</strong> {{ book.IsBorrowed ? 'Yes' : 'No' }}</p>
    
    <div *ngIf="book.IsBorrowed">
      <p><strong>Borrowing Date:</strong> {{ book.BorrowingDate | date:'short' }}</p>
      <p><strong>Return Date:</strong> {{ book.ReturnDate | date:'short' }}</p>
    </div>
  </div>
